.navbarDesign {
    background-image: linear-gradient(75deg, #e8867012 0%, #0b090894 100%);
    color: rgba(245, 245, 245, 0.421);
    border-bottom: #f1643d solid 0.1em;
    font-family: Franklin Gothic Medium;
    justify-items: end;
    height: auto;
    width: 100%;
    
    
}

.rowDesign {
    display: flex;
        flex-direction: row;
       align-items: center;
       justify-content: flex-start;
    
}
.logoDesign {
    align-items: start;
    height: 10em;
    width: 10em;
}

.titleDesign {
    font-family: 'Courier New',
        Courier,
        monospace;

    font-weight: bold;
    font-size: 2em;
}

.footerText{ 
    color:black
}
